/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Apply fonts to the app */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
/* Ensure the body and html take up the full height */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Full viewport height */
}

.sidebar-container {
  display: flex;
  flex-direction: row; /* Lay sidebar and expected power side by side */
  height: 85%;
  width: 100%;
}

.segment-info {
  margin-bottom: 20px; /* Space between segments */
}

.controls button {
  margin: 5px;
}

.effort-level-bar-wrapper {
  height: 15%; 
  background-color: #f5f5f5;
  border-top: 2px solid #ddd;
  padding: 10px;
  position: relative;
}
.sidebar {
  width: 250px; /* Fixed width for sidebar */
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expected-power {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  flex: 1; /* Fill remaining space */
  padding: 20px;
}

.expected-power h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px; /* Keep space below the title */
}

.user-power-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Distribute users horizontally */
  width: 100%; /* Occupy full width of the container */
}

.user-power {
  display: flex;
  flex-direction: column; /* Arrange user info in column */
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin: 10px; /* Space around each user-power block */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%; /* Let each user-power take up roughly a third of the row */
}

.user-power h3 {
  font-size: 22px;
  margin-bottom: 10px; /* Space between name and value */
}

.user-power p {
  font-size: 22px;
  margin: 5px 0; /* Space between values */
}

.user-power .value {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-power .label {
  font-size: 18px;
  font-weight: normal;
}
