
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Telex&display=swap');


/* Ensure the body and html take up the full height */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Full viewport height */
}

.sidebar-container {
  display: flex;
  height: 85%;
}

.sidebar {
  width: 250px; /* Fixed width for sidebar */
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h2{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.segment-info {
  margin-bottom: 20px; /* Space between segments */
}

.controls button {
  margin: 5px;
}

.effort-level-bar-wrapper {
  height: 15%; 
  background-color: #f5f5f5;
  border-top: 2px solid #ddd;
  padding: 10px;
  position: relative;
}