/* Keyframe animation for blinking effect */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}


.effort-level-bar {
  height: 70%; /* 25% height for EffortLevelBar */
  background-color: #f5f5f5;
  border-top: 2px solid #ddd;
  padding: 10px;
  position: relative;
}

.bars {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.bar {
  flex-grow: 1;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;  
  transition: background-color 0.3s ease;
}

/* Apply blinking animation to the currently active segment */
.bar.active {
  animation: blink 2s infinite;
}

.bar-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.effort-display {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
}
