.expected-power {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .user-power-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .user-name {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
  }
  
  .user-watts {
    font-size: 1.8rem;
    font-weight: bold;
    width: 50%;
    text-align: right;
  }
  